body {
  font-size: 1.5em;
}
.slide-container {
  margin: auto;
  height: 90%;
  width: 70%;
}
.slide-container h1 {
  text-align: center;
  /* background-color: rgb(230, 121, 78); */
  color: rgb(230, 121, 78);

  margin-top: 2em;
}

.shell {
  background-color: rgb(230, 230, 230);
}

.each-fade {
  margin: auto;
  width: 50%;
  padding: 1em;
}

.box-style {
  background-color: #5b8;
  color: white;
  padding: 1em;
  -webkit-box-shadow: 7px 10px 45px 0px rgba(199,199,199,1);
  -moz-box-shadow: 7px 10px 45px 0px rgba(199,199,199,1);
  box-shadow: 7px 10px 45px 0px rgba(199,199,199,1);
}
a {
  color: yellow;
}


