.presentation-container {
    /* background-color: #afd1de;

    -webkit-box-shadow: 7px 10px 45px 0px rgba(199,199,199,1);
    -moz-box-shadow: 7px 10px 45px 0px rgba(199,199,199,1);
    box-shadow: 7px 10px 45px 0px rgba(199,199,199,1); */
}